In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [228]:
data = pd.read_csv('movie_bd_v5.csv')

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [5]:
answers = {} # создадим словарь для ответов

In [226]:
#the time given in the dataset is in string format.
#So we need to change this in datetime format

data['release_date'] = pd.to_datetime(data['release_date'])
data['profit'] = data['revenue'] - data['budget']
data['release_month'] = data['release_date'].dt.month

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [29]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()][['original_title','imdb_id','budget']]

                                  original_title    imdb_id     budget
723  Pirates of the Caribbean: On Stranger Tides  tt1298650  380000000

ВАРИАНТ 2

In [22]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [75]:
answers['2'] = '2. Gods and Generals (tt0279111)'

In [28]:
data[data['runtime'] == data['runtime'].max()][['original_title','imdb_id','runtime']]

         original_title    imdb_id  runtime
1157  Gods and Generals  tt0279111      214

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [30]:
data[data['runtime'] == data['runtime'].min()][['original_title','imdb_id','runtime']]

      original_title    imdb_id  runtime
768  Winnie the Pooh  tt1449283       63

# 4. Какова средняя длительность фильмов?

In [41]:
round(data['runtime'].mean(),0)

110.0

In [9]:
answers['4'] = '4. 110'

# 5. Каково медианное значение длительности фильмов?

In [43]:
round(data['runtime'].median(),0)

107.0

In [10]:
answers['5'] = '5. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [56]:
# Filter DataFrame by profit, take max:
data[data['profit'] == data['profit'].max()][['original_title','imdb_id','profit']]

    original_title    imdb_id      profit
239         Avatar  tt0499549  2544505847

In [11]:
answers['6'] = '6. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [60]:
# Filter DataFrame by profit, take min:
data[data['profit'] == data['profit'].min()][['original_title','imdb_id','profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [12]:
answers['7'] = '7. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [104]:
# Filter DataFrame by revenue more than budget, take len:
len(data[data['revenue'] > data['budget']])

1478

In [13]:
answers['8'] = '8. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [107]:
# Filter DataFrame by release date == 2008 and take max revenue:
data[data['revenue'] == data[data['release_date'].dt.year == 2008]['revenue'].max()][['original_title','imdb_id','profit']]

      original_title    imdb_id     profit
599  The Dark Knight  tt0468569  816921825

In [14]:
answers['9'] = '9. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [122]:
# Filter DataFrame by release date between 2012 and 2014 and take min profit:
data[data['profit'] == data[(data['release_date'].dt.year <= 2014) & (data['release_date'].dt.year >= 2012)]['profit'].min()][['original_title','imdb_id','profit']]

       original_title    imdb_id     profit
1245  The Lone Ranger  tt1210819 -165710090

In [15]:
answers['10'] = '10. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [502]:
# Creating empty list of genres
genres = []

# Creating list of genres by splitting of genres list:
data1 = data['genres'].apply(lambda x: x.split('|'))

# Adding all genres from DataFrame to our empty list one by one:
for i in range (0,len(data1)):
    for j in range (0,len(data1[i])):
        genres.append(data1[i][j])

# First option is to create dictionary to count the amount of genres in our list of genres:
c = Counter()
for genre in genres:
    c[genre] += 1

# Retrieve max amount of genres from our dictionary:
amount_max = 0
for genr, amount in c.items():
    if amount > amount_max:
        amount_max = amount
        genre_max = genr
print (genre_max, amount_max)

Drama 782

ВАРИАНТ 2

In [213]:
# In second option we create list of genres from DataFrame same way as in first option:
genres = []
data1 = data['genres'].apply(lambda x: x.split('|'))

for i in range (0,len(data1)):
    for j in range (0,len(data1[i])):
        genres.append(data1[i][j])

# Then we transform our list to Pandas Series and count values, take maximum amount:
ds = pd.Series(genres).value_counts()
ds[ds==ds.max()]

Drama    782
dtype: int64

In [16]:
answers['11'] = '11. Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [220]:
# Creating list of genres from DataFrame:
genres = []
data1 = data['genres'].apply(lambda x: x.split('|'))

for i in range (0,len(data1)):
    for j in range (0,len(data1[i])):
        genres.append(data1[i][j])

# Creating Seies of genres from dictionary with all genres, drop duplucates.
genres_ds = pd.Series(genres).drop_duplicates()

# Creating Series with amount of genres of films with positive profits.
genre_counter = {}
for genre in genres_ds:
    df = data[(data['genres'].str.contains(genre, na=False)) & (data['profit'] > 0)]
    genre_counter[genre] = len(df)

dg = pd.Series(genre_counter)
dg[dg == dg.max()]

Drama    560
dtype: int64

In [17]:
answers['12'] = '12. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [155]:
# Creating a copy of our DataFrame and explode it by column 'director'
data1 = data.copy()
data1['director'] = data1['director'].apply(lambda x: x.split('|'))
data1 = data1.explode('director')

# Creating a Series with director with total revenue
director_ds = data1.groupby('director')['revenue'].sum()
director_ds[director_ds == director_ds.max()]

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

In [18]:
answers['13'] = '13. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [565]:
# Creating a new DataFrame with action movies from DataFrame:
data4 = data[data['genres'].str.contains('Action',na=False)]

# Creating list of directors from new DataFrame:
directors = []
dirs = data4.director.apply(lambda x: x.split('|'))
for dir1 in dirs:
    for director in dir1:
        directors.append(director)

# Creating Series from list of directors and take maximum of value counts:        
action_dirs = pd.Series(directors).value_counts()
action_dirs[action_dirs==action_dirs.max()]

Robert Rodriguez    9
dtype: int64

In [19]:
answers['14'] = '14. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [126]:
# Creating a copy of our DataFrame and explode it by column 'cast':
data1 = data.copy() 
data1['cast'] = data1['cast'].apply(lambda x: x.split('|'))
data1 = data1.explode('cast')

# Creating Series with actor and total revenue for 2012 
actor_revenue = data1[data1['release_year'] == 2012].groupby('cast')['revenue'].sum()
actor_revenue[actor_revenue==actor_revenue.max()]

cast
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

In [20]:
answers['15'] = '15. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [224]:
# Creating empty list to count actors:
actors_count = []

# Filter dataframe by budget > budget.mean(), create new dataframe
data2 = data[data['budget'] > data['budget'].mean()]

# Create Series with actors starring amount in new Dataframe, add amount to actors_count list:
actors_ds = data2['cast'].apply(lambda x: x.split('|'))
for actors in actors_ds:
    for actor in actors:
        actors_count.append(actor)
        
# Create Series from list of actors, value_count, take maximum value of it
actors_count_ds = pd.Series(actors_count).value_counts()
actors_count_ds[actors_count_ds == actors_count_ds.max()]

Matt Damon    18
dtype: int64

In [21]:
answers['16'] = '16. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [625]:
# Filter Data Frame by films with Nicolas Cage in it:
data3 = data[data['cast'].str.contains('Nicolas Cage', na=False)]

# Create genres list from filtered DataFrame, count genres in new list:
genres_list = data3['genres'].apply(lambda x: x.split('|'))
genres_amount = []
for genre in genres_list:
    for i in range (0, len(genre)):
        genres_amount.append(genre[i])
        
# Create Series from list of genres, value_counts, take maximum value of it
genres_Nicolas = pd.Series(genres_amount).value_counts()
genres_Nicolas[genres_Nicolas==genres_Nicolas.max()]

Action    17
dtype: int64

In [22]:
answers['17'] = '17. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [634]:
# Filter DataFrame by films produced by Paramount Pictures, take minimal profit:
data[data['profit'] == data[data['production_companies'].str.contains('Paramount Pictures')]['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [23]:
answers['18'] = '18. K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [221]:
# Grouping DataFrame by year
revenues = data.groupby('release_year')['revenue'].sum()
revenues[revenues == revenues.max()]

release_year
2015    25449202382
Name: revenue, dtype: int64

In [24]:
answers['19'] = '19. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [654]:
# Filter Data Frame by films produced by Warner Bros and group it by year, count sum profit:
WB_years = data[data['production_companies'].str.contains('Warner Bros')].groupby('release_year')['profit'].sum()
WB_years[WB_years == WB_years.max()]

release_year
2014    2295464519
Name: profit, dtype: int64

In [25]:
answers['20'] = '20. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [692]:
# Filter Data Frame by release month take maximum:
release_records = data.groupby(data['release_date'].dt.month)['imdb_id'].count().sort_values(ascending=False)
release_records[release_records==release_records.max()]

release_date
9    227
Name: imdb_id, dtype: int64

In [26]:
answers['21'] = '21. 9 - September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [223]:
# Group Data Frame by release date and take summer months, count amount of films:
release_records = data.groupby(data['release_date'].dt.month)['imdb_id'].count()
release_records[[6,7,8]].sum()

450

In [27]:
answers['22'] = '22. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [812]:
# Create copy of DataFrame, explode it by director:
data1 = data.copy()
data1['director1'] = data1['director'].apply(lambda x: x.split('|'))
data2 = data1.explode('director1')

# Create Release month column
data2['release_month'] = data2['release_date'].dt.month

# Filter DataFrame by winter months, group the same by director(exploded) and count amount of films by each director:
data6 = data2[data2['release_month'].isin([11,12,1])].groupby('director1')['release_date'].count().sort_values()
data6[data6 == data6.max()]

director1
Peter Jackson    8
Name: release_date, dtype: int64

In [28]:
answers['23'] = '23. Peter Jackson'

24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [824]:
# Create copy of DataFrame, explode it by production_companies:
data1 = data.copy()
data1['production_companies1'] = data1['production_companies'].apply(lambda x: x.split('|'))
data2 = data1.explode('production_companies1')

# Create column with movie_name_lengh in new DataFrame:
data2['movie_name_lengh'] = data2['original_title'].apply(lambda x: len(x))

# Group DataFrame by production_companies and take mean of movie_name_lengh. Sort it and take max:
data_names = data2.groupby('production_companies1')['movie_name_lengh'].mean().sort_values()
data_names[data_names == data_names.max()]

production_companies1
Four By Two Productions    83.0
Name: movie_name_lengh, dtype: float64

In [29]:
answers['24'] = '24. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [829]:
# Create copy of DataFrame, explode it by production_companies:
data1 = data.copy()
data1['production_companies1'] = data1['production_companies'].apply(lambda x: x.split('|'))
data2 = data1.explode('production_companies1')

# Create column with overview_lengh in new DataFrame:
data2['overview_lengh'] = data2['overview'].apply(lambda x: len(x))

# Group DataFrame by production_companies and take mean of overview_lengh. Sort it and take max:
data_overview = data2.groupby('production_companies1')['overview_lengh'].mean().sort_values()
data_overview[data_overview == data_overview.max()]

production_companies1
Midnight Picture Show    1000.0
Name: overview_lengh, dtype: float64

In [30]:
answers['25'] = '25. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [912]:
# Calculate number of 1% best movies, create series with that amount:
data_sort = data['vote_average'].sort_values(ascending = False)[0:int(0.01 * len(data))] 

# Min rating of 1% best movies
min_rating = min(data_sort) 

#Sort Dataframe by vote_average of 1% of films with rating more than min_rating:
data[data['vote_average'] >= min_rating][['original_title','vote_average']].sort_values('vote_average',ascending = False)

                                         original_title  vote_average
599                                     The Dark Knight           8.1
9                                            Inside Out           8.0
34                                                 Room           8.0
118                                        Interstellar           8.0
125                                  The Imitation Game           8.0
370                                           Inception           7.9
1191                                   12 Years a Slave           7.9
1183                            The Wolf of Wall Street           7.9
1081      The Lord of the Rings: The Return of the King           7.9
872                                         The Pianist           7.9
1800                                            Memento           7.9
119                             Guardians of the Galaxy           7.9
138                            The Grand Budapest Hotel           7.9
128                                           Gone Girl           7.9
283                                          Mr. Nobody           7.8
1688                                There Will Be Blood           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1444                                       The Prestige           7.8
1213                                 Dallas Buyers Club           7.8
1205                                          Prisoners           7.8
124                                          Big Hero 6           7.8
1188                                                Her           7.8
316                                            3 Idiots           7.8
863               The Lord of the Rings: The Two Towers           7.8
155                            The Theory of Everything           7.8
28                                            Spotlight           7.8
177                              The Fault in Our Stars           7.8
496   The Lord of the Rings: The Fellowship of the Ring           7.8

In [31]:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [48]:
# Import intertools,combinations:
from itertools import combinations

# Create copy of DataFrame
df_pairs = data.copy()

# Create coulumn with actor_pairs ising combinations:
df_pairs['actor_pairs'] = data['cast'].apply(lambda x: list(combinations(x.split('|'),2)))

# Explode DataFrame by actor_pairs:
df_pairs = df_pairs.explode('actor_pairs')

#Create Series from actor_pairs, count values, take maximum (more often pairs):
actors_pairs_ds = pd.Series(df_pairs['actor_pairs']).value_counts()
actors_pairs_ds[actors_pairs_ds==actors_pairs_ds.max()]

(Daniel Radcliffe, Rupert Grint)    8
(Daniel Radcliffe, Emma Watson)     8
Name: actor_pairs, dtype: int64

In [49]:
answers['27'] = '27. Daniel Radcliffe, Rupert Grint'

ВАРИАНТ 2

# Submission

In [227]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110',
 '5': '5. 107',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. 9 - September',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe, Rupert Grint'}

In [103]:
# и убедиться что ни чего не пропустил)
len(answers)

27